:root{
    --color1:rgb(16, 138, 16);
    --color2:rgb(175, 175, 143);

}
.button-group{
    display: flex;
  flex-direction:row-reverse;
    gap:3px;
}
.button-group button{
    background-color: var(--color2);
    color: var(--color1);
    border: 5px solid var(--color1);
    padding:  10rem;
    border-radius: 20px;
    cursor: pointer;
    flex: 0 0 100px ;
}

.button-group button:first-child{
border-radius: 16px 0 0 16px;
}


.button-group button:last-child{
    border-radius: 0 16px 16px 0;
}
.button-group button:hover{
    background-color: var(--color1);
    color: var(--color2);
    border-color: var(--color2);
   
}